@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');



:root
{
/* Baground-color principal */
      --bg-black-pro: #000000,
      --bg-white-pro: #FFFFFF,
      --bg-grey-pro: #B0B0B0,
      --bg-blue-paypal: #3184FF,

/* Styles of views components */

      --rounded-31px: 31px;
      --font-family:"Laila";
      --blur: filter(blur(20));
      
}




*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Laila';
}


#section-img-blur
{
      display: flex;
      margin-top: 2px;
      justify-content: center;
      overflow: hidden;
      /* background-color: aqua  ; */
      padding: 0;
      height: 40rem;
      /* border-radius: ; */
      overflow-y: scroll;
      scroll-behavior: smooth;
      
}

::-webkit-scrollbar {
      width: 1px;
    }

#section-first
{
      width: 67.5rem;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.373);
      backdrop-filter: blur(5rem)
}


#isla
{
      border-radius: 1px 0.8rem 1px 0.8rem;
      height: 2.2rem;
      width: max-content;
    

}

a
{
      color: aliceblue;
      /* border: #9D51FF; */


}
a:hover
{
      color: #9D51FF;
   
}
#isla div
{
      width: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;

      border-radius: 1px 0.8rem 1px 0.8rem;     
      margin: 0 auto;
}

#isla div:hover
{
      border: 1px solid #9D51FF;    
      border-radius: 1px 0.8rem 1px 0.8rem;     
      transition-delay: 0.5s;
      transition: 0.7s;
      font-style: italic;
}


#section-inicio
{
      margin-top: 5rem; 
      padding: 0;
}


#article
{
      width: 40rem;
      margin-top: 2rem;
      /* background-color: #9D51FF; */

}

#div-img
{
      border-radius: 3rem;
      width: 50rem;
      height: 30rem;
      padding: 0;
      /* box-shadow: 1px 1px 2px #9D51FF; */
}

#section-inicio-2
{
      margin-top: 1rem; 
      padding: 0;
}

#div-img-dia
{
      margin-top: 6rem;
      border-radius: 3rem;
      width: 30rem;
      height: 20rem;
      padding: 0;
      
}
#article-2
{
      width: 40rem;
}

#reserva
{
      background: #A966FF;
      padding: 0.5rem;
      width: 7rem;
      border-radius: 10rem;
      margin: 0 auto;
      color: rgb(255, 255, 255);
      transition-delay: 0.9s;
      transition: 1s;
      cursor: context-menu;
}

#reserva a
{
      color: #ffffff;
      font-weight: bold;
      cursor: context-menu;
}

#reserva:hover
{
      width: 8.9rem;

      transition-delay: 0.9s;
      transition: 1s;
      margin-top: 1;
}


/* Tours */

#tours
{
      margin-top: 5rem;
      width: 20rem;
      
}

#div-img-tours
{
      
      border-radius: 1.5rem;
      width: 20rem;
      height: 15rem;
      padding: 0;
}

#precios-tours
{
      display: flex;
}

#dic-detalles-tours
{
      background-color: black;
      padding: 0.5rem;
      width: 6rem;
      text-align: center;
      border-radius: 2rem;
}

#dic-detalles-tours a
{
      color: white;
      font-weight: bold;
}






/* Blog Styles */

#bloger
{
      margin-top: 10rem;
}

#blog
{
            margin-bottom: 2rem;
}

#img-blog
{
      width: 30rem;
      height: 20rem;
      border-radius: 2rem;
}

#titulo-blog
{
      display: flex;
      width: 20rem;
}

#parrafo-blog
{
      width: 25rem;
      max-height: 15rem;
      overflow-y: scroll;

      margin-top: 2rem;
}




/* Perfil */

#btn-perfil
{
      background-color: #000000;
      right: -46rem;
      
      border-radius: 1px 0.8rem 1px 0.8rem;   
      position: absolute;  
}

#btn-perfil-1
{
      /* background-color: #A966FF; */
      width: 9rem;
      height: 0rem;
      transition: 1s;

}

#div-perfil
{
      background-color: #000000;
      margin-top: 5rem;
      border-radius: 1px 0.8rem 1px 0.8rem;   

}


#btn-perfil-1:hover
{
      width: 10.5rem;
      transition-delay: 1s;
      transition: 1s;
     
}



/* Login */

#login
{
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      width: 20rem;
}

#login input 
{
      border-radius: 0.6rem;
      border: 1px solid #9f9f9f;
      outline: none;
      padding: 0.4rem;
      margin: 0.1rem auto;
      width: 20rem;
      text-align: center;
}

#btn-entrar
{
      border-radius: 0.9rem;
      padding: 0.4rem 0.9rem;
      background-color: #3184FF;
      width: 6rem;
}

#btn-entrar:hover
{
      transition: 1s;
      transition-delay: 0.3s;
      background-color: #6dff38;
      width: 5rem;
      
}


#main
{
      display: flex     ;
}

#img-boy
{
      margin-top: 5rem;
      width: 40rem;
      border-radius: 2rem;
      height: 30rem;
}

